{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Middle Earth</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vel velit nemo. Error, illo atque delectus facilis, cupiditate quisquam, modi sapiente doloribus asperiores velit ipsa impedit perspiciatis natus ut ex.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/about.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}